@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  height: 100%;
}



/* Global Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px; /* Height of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #007bff; /* Blue color for the scrollbar thumb */
  border-radius: 10px; /* Rounded edges */
  border: 2px solid #e5e7eb; /* Border around the thumb for contrast */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6; /* Light background for the track */
  border-radius: 10px; /* Rounded edges for the track */
}

::-webkit-scrollbar-track:hover {
  background-color: #e5e7eb; /* Slightly darker background on hover */
}
